body {
  background-image: url("../img/rainbow.png");
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
  background-size: cover;
  min-width: 200px;
  max-width: 100%;
  height: 800px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* header with title and home link */
header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  padding-left: 20px;
  z-index: 10;
}

#main {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: left;
  align-content: center;
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "ELGR" 1, "ELSH" 2;
  font-size: 25px;
}

#title {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  font-family: "Major Mono Display", monospace;
  font-size: 50px;
}

#gridcontainer {
  width: 60%;
  height: 600px;
  display: grid;
  place-content: center;
  align-self: center;
  grid-template-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-rows: 150px 40px 10px 150px 40px;
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "ELGR" 1, "ELSH" 2;
  font-size: 25px;
}

/* images in the grid */
#item1 {
  grid-column: 1/2;
  grid-row: 1/2;
  min-width: 100px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#item2 {
  background: white;
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
  align-content: center;
  color: rgb(15, 226, 15);
}

#item3 {
  grid-column: 3/4;
  grid-row: 1/2;
  min-width: 100px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#item4 {
  background: white;
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
  align-content: center;
  color: rgb(15, 226, 15);
}

#item5 {
  grid-column: 5/6;
  grid-row: 1/2;
  min-width: 100px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#item6 {
  background: white;
  grid-column: 5/6;
  grid-row: 2/3;
  text-align: center;
  align-content: center;
  color: rgb(15, 226, 15);
}

#item7 {
  grid-column: 1/2;
  grid-row: 4/5;
  min-width: 100px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#item8 {
  background: white;
  grid-column: 1/2;
  grid-row: 5/6;
  text-align: center;
  align-content: center;
  color: rgb(15, 226, 15);
}

#item9 {
  grid-column: 3/4;
  grid-row: 4/5;
  min-width: 100px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#item10 {
  background: white;
  grid-column: 3/4;
  grid-row: 5/6;
  text-align: center;
  align-content: center;
  color: rgb(15, 226, 15);
}

#item11 {
  grid-column: 5/6;
  grid-row: 4/5;
  min-width: 100px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#item12 {
  background: white;
  grid-column: 5/6;
  grid-row: 5/6;
  text-align: center;
  align-content: center;
  color: rgb(15, 226, 15);
}

/* hyperlinks to move around pages */
footer {
  margin-top: auto;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  padding-left: 20px;
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "ELGR" 1, "ELSH" 2;
  font-size: 25px;
}

#footer_left {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: left;
  align-content: center;
  padding-left: 20px;
}

#footer_right {
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: right;
  align-content: center;
  padding-right: 20px;
}
