body {
  background-image: url("img/rainbow.png");
  background-size: cover;
  min-width: 200px;
  max-width: 100%;
  height: 800px;
  margin: 0;
}

/* header with the title */
header {
  padding: 10px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 5px black;
  font-size: 30px;
}

/* grid for the whole page */
#gridcontainer {
  width: 100%;
  height: 800px;
  display: grid;
  grid-template-columns:
    minmax(0px, 40px) 30% minmax(40px, 80px)
    minmax(100px, 500px) 8% minmax(100px, 300px);
  grid-template-rows: 20px 30% 15% 2% 21% 2% 30%;
}

#item1 {
  /* background: red; */
  grid-column: 1/4;
  grid-row: 1/4;
  min-width: 300px;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

#item2 {
  background: yellow;
  border-radius: 50%;
  grid-column: 3/5;
  grid-row: 2/4;
  text-align: center;
  align-content: center;
  color: red;
}

#item3 {
  background: red;
  border-radius: 50%;
  grid-column: 6/7;
  grid-row: 3/5;
  width: 200px;
  height: 100px;
  transform: rotate(10deg);
  text-align: center;
  align-content: center;
  color: yellow;
}

/* grid for the subpages hyperlink */
#subpages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background: black;
  width: 100%;
  grid-column: 1/7;
  grid-row: 5/6;
}

#item4 {
  text-align: center;
  align-content: center;
}

#item5 {
  text-align: center;
  align-content: center;
}

#item6 {
  text-align: center;
  align-content: center;
}

#item7 {
  grid-column: 2/4;
  grid-row: 6/8;
  width: 400px;
  height: auto;
  transform: rotate(-10deg);
}

#item7text {
  position: absolute;
  grid-column: 2/4;
  grid-row: 6/8;
  transform-origin: center center;
  transform: translate(175px, 670px) rotate(-10deg);
  color: yellow;
  z-index: 10;
}

#item8 {
  grid-column: 4/6;
  grid-row: 7/8;
  text-align: right;
  align-content: flex-end;
  padding-right: 20px;
}

#item9 {
  grid-column: 6/7;
  grid-row: 7/8;
  transform-origin: right bottom;
  min-width: 300px;
  max-width: 100%;
  max-height: auto;
  margin: auto;
}

/* for etc images */
.etcImages {
  position: absolute;
}
