body {
  background-image: url("img/rainbow.png");
  background-size: cover;
  min-width: 200px;
  max-width: 100%;
  height: 800px;
  margin: 20px;
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "ELGR" 1, "ELSH" 2;
}

header {
  padding: 10px;
  text-align: left;
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "ELGR" 1, "ELSH" 2;
  font-size: 30px;
}
